<div class="margin-row">
	<div class="container">
		<mat-selection-list *ngIf="apiDatas && apiDatas.length; else noPackageNames">
			<div class="option-wrapper" *ngFor="let apiData of apiDatas; trackBy: trackByPackageName">
				<div class="package-list-option">
					<span>{{ apiData.packageName }}</span>
				</div>

				<!-- total downloads -->
				<span>
					<mat-icon>download</mat-icon>
					{{ apiData.total | number }}
				</span>

				<!-- visibilit -->
				<button class="button-wrapper" mat-icon-button (click)="toggleVisibility(apiData)">
					<button mat-icon-button color="accent" aria-label="Hide npm package visibility" tabindex="-1">
						<mat-icon *ngIf="!(hiddenPackageName | inArray: apiData.packageName)">visibility</mat-icon>
						<mat-icon *ngIf="(hiddenPackageName | inArray: apiData.packageName)">visibility_off</mat-icon>
					</button>
				</button>

				<!-- remove -->
				<button class="button-wrapper" (click)="onRemovePackageName(apiData.packageName)" (keydown)="handleSelectAsClick($event)">
					<button mat-icon-button color="accent" aria-label="Remove npm package" tabindex="-1">
						<mat-icon class="delete-icon">delete</mat-icon>
					</button>
				</button>

				<!-- redirect -->
				<a
					class="button-wrapper"
					[href]="'https://www.npmjs.com/package/' + apiData.packageName"
					target="_blank"
					(keydown)="handleSelectAsClick($event)"
				>
					<button mat-icon-button color="accent" aria-label="Remove npm package" tabindex="-1">
						<mat-icon class="new-tab-icon">open_in_new</mat-icon>
					</button>
				</a>
			</div>
		</mat-selection-list>
	</div>
</div>

<ng-template #noPackageNames>
	<p>Add npm packages using the input above. Then you can view download analytics over time.</p>
</ng-template>
