@import 'variables.scss';

:host {
	display: block;

	a {
		color: var(--primary-color);
		fill: var(--primary-color);
		text-decoration: none;

		span {
			display: flex;
			gap: $padding * 0.125;
			align-items: center;
			justify-content: center;
		}
	}

	background: var(--bg-accent-color);
	margin-top: auto;
}
