@import 'variables.scss';

:host {
	display: block;

	a {
		color: $blue;
		fill: $blue;
		text-decoration: none;

		span {
			display: flex;
			gap: $padding * 0.125;
			align-items: center;
			justify-content: center;
		}
	}

	background: $footer-background-color;
	margin-top: auto;
}
