@import 'variables.scss';

:host {
	display: block;
}

.option-wrapper {
	display: flex;
	align-items: center;

	.button-wrapper {
		@extend %reset-button;

		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;

		&:hover,
		&:focus {
			background: rgba(0, 0, 0, 0.04);
		}
	}

	span {
		display: flex;
		align-items: center;
	}

	mat-icon.delete-icon {
		// delete icon looks a little off
		// moving it up a little
		margin-bottom: 3px;
	}

	mat-icon.new-tab-icon {
		// delete icon looks a little off
		// moving it up a little
		margin-bottom: 1px;
	}
}

.package-list-option {
	display: flex;
	justify-content: space-between;
	gap: $padding * 0.25;
}
