<div class="flex-row margin-row">
	<form onsubmit="return false">
		<mat-form-field appearance="fill">
			<mat-label>Enter a date range</mat-label>
			<mat-date-range-input
				[formGroup]="dateRangeFormGroup"
				[rangePicker]="picker"
				[min]="minDate"
				[max]="maxDate"
				required
			>
				<input matStartDate formControlName="start" placeholder="Start date" />
				<input matEndDate formControlName="end" placeholder="End date" />
			</mat-date-range-input>

			<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
			<mat-error
				appErrorHandler
				[errors$]="[dateRangeFormGroup.controls.start.errors | toObservable, dateRangeFormGroup.controls.end.errors | toObservable]"
				[handleErrors]="[startDateErrorsHandler, endDateErrorsHandler]"
			>
			</mat-error>
		</mat-form-field>
	</form>

	<div>
		<button class="clear-cache-button" mat-stroked-button (click)="clearCache()">Clear cache</button>
	</div>
</div>

<ng-container *ngIf="chartData$ | async as chartData">
	<div class="margin-row" *ngIf="chartData.columns.length > 1">
		<div class="container">
			<google-chart
				[type]="chartType"
				[data]="chartData.rows"
				[options]="chartData.options"
				[columns]="chartData.columns"
				[dynamicResize]="true"
			></google-chart>
		</div>
	</div>
</ng-container>

<div class="margin-row">
	<div class="container">
		<form #addPackageNameForm onsubmit="return false">
			<mat-form-field appearance="outline">
				<mat-label>npm package name</mat-label>
				<input matInput [formControl]="addPackage" [matAutocomplete]="auto" />
				<mat-hint>Ex: 'canjs'</mat-hint>
				<mat-error appErrorHandler [errors$]="addPackage.errors | toObservable" [handleErrors]="packageErrorsHandler">
				</mat-error>

				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let option of autocompleteOptions$ | async" [value]="option"> {{ option }} </mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<button mat-raised-button color="primary" [disabled]="!addPackage.value || addPackage.invalid">Add</button>
		</form>

		<!-- list of selected libraries -->
		<app-package-list
			(removePackageName)="removePackageName($event)"
			[registryData]="apiDatas$ | async"
			[formControl]="selectedPackageNames"
		></app-package-list>
	</div>
</div>

<!-- footer -->
<footer></footer>

<ng-template #noPackageNames>
	<p>Add npm packages using the input above. Then you can view download analytics over time.</p>
</ng-template>
