<ng-container [formGroup]="formGroup">
	<div class="flex-row margin-row">
		<!-- date range picker -->
		<app-date-range-picker formControlName="dateRange"></app-date-range-picker>

		<!-- clear button -->
		<div>
			<button class="clear-cache-button" mat-stroked-button (click)="clearCache()">Clear cache</button>
		</div>
	</div>

	<!-- chart display -->
	<div class="margin-row" *ngIf="chartData$ | async as chartData">
		<div class="container">
			<app-data-chart [chartData]="chartData"></app-data-chart>
		</div>
	</div>

	<!-- search libs -->
	<div class="margin-row">
		<div class="container">
			<app-search-library formControlName="selectedLibrary"></app-search-library>
		</div>
	</div>

	<!-- selected libs -->
	<app-selected-libraries (removePackageName)="removePackageName($event)" [apiDatas]="apiDatas$ | async"></app-selected-libraries>
</ng-container>

<!-- footer -->
<app-footer></app-footer>
