<div class="flex-row margin-row">
	<form onsubmit="return false">
		<app-date-range-picker [formControl]="dateRangeFormControl"></app-date-range-picker>
	</form>

	<div>
		<button class="clear-cache-button" mat-stroked-button (click)="clearCache()">Clear cache</button>
	</div>
</div>

<ng-container *ngIf="chartData$ | async as chartData">
	<div class="margin-row" *ngIf="chartData.columns.length > 1">
		<div class="container">
			<app-chart [chartData]="chartData"></app-chart>
		</div>
	</div>
</ng-container>

<div class="margin-row">
	<div class="container">
		<!-- auto complete form -->
		<form onsubmit="return false">
			<!-- auto complete -->
			<app-autocomplete
				[autocomplateOptions]="autocompleteOptions$ | async"
				[formControl]="addPackage"
			></app-autocomplete>

			<!-- add button -->
			<button
				mat-raised-button
				type="submit"
				color="primary"
				[disabled]="!addPackage.value || addPackage.invalid"
				(click)="onPackageNameSubmit()"
			>
				Add
			</button>
		</form>

		<!-- list of selected libraries -->
		<app-package-list
			(removePackageName)="removePackageName($event)"
			[registryData]="apiDatas$ | async"
			[formControl]="selectedPackageNames"
		></app-package-list>
	</div>
</div>

<!-- footer -->
<footer></footer>

<ng-template #noPackageNames>
	<p>Add npm packages using the input above. Then you can view download analytics over time.</p>
</ng-template>
