/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import 'theme.scss';
html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.margin-row {
	width: 100%;
	width: -webkit-fill-available;
	max-width: 1080px - $padding * 0.125;
	box-sizing: border-box;

	margin: 0 auto;
	padding: $padding * 0.5 $padding * 0.125;
}

.flex-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: $padding * 0.25;
}

.flex-1 {
	flex: 1;
}

mat-form-field {
	max-width: 320px;
	width: 100%;
}
